{% extends "customer/layout.html" %}
{% load static %}

{% block main %}
	<main class="main">
	<div class="container padding">
			<div class="row">
				<div class="col-lg-8 col-12">

					<form action="" method="post">
						<div class="checkout-container mb-5">
							<h3 class="text-center">Delivery Details</h3>
							<form action="" method="post">
								<p><br/>Delivery Datetime: </p>
								<div class="input-group">
								 <input type="text" class="form-control text-input text-input-white" placeholder="12 Nov 2020" aria-label="Date">
								 <input type="dropdown" class="form-control text-input text-input-white" placeholder="ASAP" aria-label="Time">
								</div>
								   

								<p><br/>Delivery Address: </p>
								<input class="text-input text-input-white" type="text" name="add1" placeholder="Address Line 1" required>
								<input class="text-input text-input-white" type="text" name="add2" placeholder="Address Line 2" required>
								<input class="text-input text-input-white" type="text" name="add3" placeholder="Address Line 3">								
						</div>
						<div class="checkout-container mb-5">
							<h3 class="text-center">Personal Details</h3>
							<input class="text-input text-input-white" type="text" name="name" placeholder="Name" required>
							<input class="text-input text-input-white" type="text" name="email" placeholder="Email">
							<input class="text-input text-input-white" type="text" name="contact" placeholder="Phone Number" required>
							<input class="btn btn-primary btn-block mt-4" type="submit" value="Proceed to payment">
						</div>
					
					</form>
				</div>

				<div class="col-lg-4 col-0 text-center">
					<aside class="side-cart mt-4">
						<h4 class="">Order Summary</h4>
						<form action="">
							<div class="container cart-content">
								<div class="row">
									<div class="col-6 text-lg-left"><p>Item 1</p></div>
									<div class="col-6 text-lg-right"><p>RM 1.00 x1</p></div>
								</div>
								<div class="row">
									<div class="col-6 text-lg-left"><p>Item 2</p></div>
									<div class="col-6 text-lg-right"><p>RM 1.00 x2</p></div>
								</div>
								<div class="row">
									<div class="col-6 text-lg-left"><p>Item 3</p></div>
									<div class="col-6 text-lg-right"><p>RM 1.00 x1</p></div>
								</div>
								
								<div class="container cart-total">
									<div class="row">
										<div class="col-6 text-lg-left"><strong><p>Subtotal: </p></strong></div>
										<div class="col-6 text-lg-right"><strong><p>RM 4.00</p></strong></div>
									</div>
									<div class="row">
										<div class="col-6 text-lg-left"><strong><p>Delivery Fee: </p></strong></div>
										<div class="col-6 text-lg-right"><strong><p>RM 2.00</p></strong></div>
									</div>
									<div class="row">
										<div class="col-6 text-lg-left"><strong><p>Total</p></strong></div>
										<div class="col-6 text-lg-right"><strong><p>RM6.00</p></strong></div>
									</div>
								</div>
							</div>
						</form>
					</aside>
				</div>
			</div>	
	</div>
	</main>
{% endblock %}